<%- layout('layouts/main') %>
<form action="/prueba/signin" method="POST">
  <input type="user" value="javier" name="username" placeholder="User Name">
  <input type="password" value="javier" name="password" placeholder="Password">
  <button type="submit">
    SignIn
  </button>
</form>
