<%- layout('layouts/main') %>
<form action="/prueba/signup" method="POST">
  <input type="user" name="user" placeholder="User">
  <input type="password" name="password" placeholder="Password">
  <button type="submit">
    SignUp
  </button>
</form>
